

<div class="bgimg-1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "img_parallax.jpg" %>');">
  <div class="banner-content">
    <!-- <div class="caption"> -->
<!--       <span class="border"> -->
        <h1>NCODE</h1>
        <p>
          <span id="banner-typed-text"></span>
        </p>

        <a href="mailto:amael@ncode.ai" class="btn btn-info btn-lg">Rencontrons-nous!</a>

<!--       </span> -->
    <!-- </div> -->

  </div>

</div>


<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

  <div id="feat" class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img src="<%= image_path "conception.jpg" %>" alt="">
          <h2>Conception</h2>
          <p>Rencontrons-nous! Définissons des objectifs et une architecture pour votre projet web</p>
        <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "ux_design.jpg" %>" alt="">
          <h2>UX/Web Design</h2>
          <p>Nous réalisons des maquettes graphiques pour décrire l'organisation des principales pages de votre site web</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "web_dev.jpg" %>" alt="">
          <h2>Web Development</h2>
          <p>It's Geek time! C'est ici que l'on "encode" votre projet</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img src="<%= image_path "web_design.jpg" %>" alt="">
          <h2>Videos</h2>
          <p>Nous réalisons de courtes vidéos animés afin de présenter vos services</p>
          <br><br />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up-right">
          <img src="<%= image_path "seo.jpg" %>" alt="">
          <h2>SEO</h2>
          <p>Nous optimisons votre site afin qu'il soit naturellement bien référencé</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "api.jpg" %>" alt="">
          <h2>APIs</h2>
          <p>Nous créons et connectons des APIs que cela provienne de votre plateforme ou d'autres services externes</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "chatbot2.jpg" %>" alt="">
          <h2>Chatbot</h2>
          <p>Nous créons des chatbots complexes (simples aussi) dotés d'intelligence artificielle (NLP)</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up-left">
          <img src="<%= image_path "maintenance.jpg" %>" alt="">
          <h2>Maintenance</h2>
          <p>Et puisqu'il ne s'agit pas de votre Core Business, nous effectuons la maintenance de vos outils web</p>
          <br><br />
        </div>
      </div>

    </div>
  </div>

  <!-- <div data-aos="flip-up" data-aos-duration="1500">
    <h3 style="text-align:center;">Parallax Demo</h3>
    <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
  </div> -->
</div>

<div class="bgimg-2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "img_parallax2.jpg" %>');">
  <div class="caption">
    <div data-aos="flip-left" data-aos-duration="1000">
      <a href="mailto:amael@ncode.ai" class="btn btn-info btn-lg">Rencontrons-nous!</a>
    </div>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

    <div class="container text-center padded chatbot">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="<%= image_path "snowbot.gif" %>" class="chatbot" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="<%= image_path "logo_only.png" %>" alt="">
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h2>Bot Design!</h2>
            <p>Un ChatBot ne doit pas etre compliqué à utiliser. Il est donc important de bien le concevoir au préalable</p>
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h2>Bot Development!</h2>
            <p>Plongeons dans la matrice. Nous "encodons" votre Bot.</p>
          </div>
            <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h2>Bot Training!</h2>
            <p>Parce qu'un ChatBot doit apprendre, nous l'entrainons afin qu'il soit le plus afuté possible!</p>
          </div>
        </div>
      </div>
    </div>
    <br><br />
   <!--  <div data-aos="flip-up" data-aos-duration="1500">
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
      <p>Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
    </div> -->
  </div>
</div>

<div class="bgimg-3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "img_parallax3.jpg" %>');">
  <div class="caption">
    <div data-aos="flip-up" data-aos-duration="1000">
      <a href="mailto:amael@ncode.ai" class="btn btn-info btn-lg">Demandez un devis!</a>
    </div>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h2><center>Chiffres Clés en 2017</center></h2>
    <div class="container text-center padded features_key_nb">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up-right">
          <img src="<%= image_path "population.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1610' data-delay='10' data-increment="9">0</div></h1><h2>millions</h2>

          <p>Nombre de personnes qui achètent en e-commerce</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "cash.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1189' data-delay='11' data-increment="7">0</div></h1><h2>USD</h2>

          <p>Revenu e-commerce annuel moyen par utilisateur en 2016</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
          <img src="<%= image_path "consumer.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='7' data-delay='3' data-increment="1">0</div></h1><h2>consommateurs sur 10</h2>

          <p>Achètent via Internet en France</p>
          <br><br />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div data-aos="fade-up-left">
          <img src="<%= image_path "sme.jpg" %>" alt="">

          <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='87' data-delay='4' data-increment="1">0</div></h1><h2>% des PME</h2>

       <!--    <h1><div id="value4">1</div></h1><h2>SME (PME) over 8</h2>
          <script type="text/javascript">
            animateValue("value4", 8 , 1, 6000);
          </script> -->

          <p>Ne sont pas équipées pour vendre via Internet en France</p>
          <br><br />
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="bgimg-1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "img_parallax.jpg" %>');">

  <!-- <div class="caption"> -->
    <!-- <div class="text-center padded" id="contact">
      <div class="container"> -->

   <!--      <h2>Contact Us!</h2>



        <p>Leave us your mail and explain your project!</p> -->
        <div class="container text-center padded">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <div data-aos="zoom-in">
            <a href="mailto:amael@ncode.ai" class="btn btn-info btn-lg">Discutons de votre Projet!</a>

<!-- Begin MailChimp Signup Form -->

<!-- <div id="mc_embed_signup">
<form action="https://facebook.us17.list-manage.com/subscribe/post?u=57272e664fe68dcc9c00c8275&amp;id=5a21904008" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Leave us your mail and explain your project!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
  <input type="text" value="" name="FNAME" class="required email" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
  <input type="text" value="" name="LNAME" class="required email" id="mce-LNAME">
</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE3">Explain us your project!  <span class="asterisk">*</span>
</label>
  <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   <!--  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_57272e664fe68dcc9c00c8275_5a21904008" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
    </div>
</form>
</div> -->

<!--End mc_embed_signup-->


            <!-- <form action=""> -->
              <!-- Your form content -->
              <!-- <div class="row">
                <div class="col-xs-6">
                  <div class="form-group"> -->
                   <!--  <label for="first-name"></label> -->
                    <!-- <input type="first-name" id="first-name" class="form-control" placeholder="Your first name">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group"> -->
                 <!--    <label for="last-name"></label> -->
                    <!-- <input type="last-name" id="last-name" class="form-control" placeholder="Your last name">
                  </div>
                </div>
              </div>

              <div class="form-group"> -->
            <!--     <label for="email"></label> -->
                <!-- <input type="email" id="email" class="form-control" placeholder="Your email">
              </div>

              <div class="form-group"> -->
               <!--  <label for="message"></label> -->
               <!--  <textarea type="message" id="message" class="form-control" placeholder="Explain us your project!"></textarea>
              </div> -->

          <!--     <div class="form-group"> -->
            <!--     <label for="password">Your password</label>
                <input type="password" id="password" class="form-control" placeholder="•••••••">
              </div> -->

  <!--             <div class="form-group">
                <label for="referrer">How do you know us?</label>
                <select id="referrer" class="form-control">
                  <option value="facebook">Facebook</option>
                  <option value="google">Google</option>
                  <option value="afriend">A friend</option>
                </select>
              </div> -->

              <!-- <input type="submit" value="Send!" class="btn btn-success">
            </form> -->
          </div>
        </div>
      </div>
    </div>
    <!--   </div>
    </div> -->
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="lib/jquery-1.10.2.min.js"></script>
<script src="jquery.numscroller-1.0.js"></script>
<script src="lib/prism.js"></script>


  <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

