<div class="banner_oth" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "team.jpg" %>');">
  <div class="banner-content_oth">
     <h1>Our Templates</h1>
  </div>
</div>

<div class="container text-center padded features_tem">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <!-- Trigger/Open The Modal -->
      <a id="myBtn1" onclick="modalNcode()">
        <img src="<%= image_path "static.jpg" %>" alt="">
      </a>
      <!-- The Modal -->
      <div id="myModal1" class="modal1">

        <!-- Modal content -->
        <div class="modal-content1">
          <!-- <span class="close">&times;</span> -->
          <div class="slideshow-container">
<span class="close">&times;</span>
            <div class="mySlides fade" style="display: block;">
              <div class="numbertext">1 / 3</div>
              <img src="<%= image_path "img_parallax.jpg" %>" style="width:100%">
              <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade" style="display: block;">
              <div class="numbertext">2 / 3</div>
              <img src="<%= image_path "img_parallax2.jpg" %>" style="width:100%">
              <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade" style="display: block;">
              <div class="numbertext">3 / 3</div>
              <img src="<%= image_path "img_parallax3.jpg" %>" style="width:100%">
              <div class="text">Caption Three</div>
            </div>

          </div>
         <!--  <br> -->

          <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <!-- <p>Some text in the Modal..</p> -->
        </div>
      </div>
      <h2>Static</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
      <br><br />
    </div>

    <div class="col-xs-12 col-sm-4">
      <img src="<%= image_path "api.jpg" %>" alt="">
      <h2>Dynamic</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
      <br><br />
    </div>

    <div class="col-xs-12 col-sm-4">
      <img src="<%= image_path "ecommerce.jpg" %>" alt="">
      <h2>eCommerce</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
      <br><br />
    </div>
  </div>
</div>


<div class="container text-center padded features_tem">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-in-down" data-aos-duration="3000">
      <img src="<%= image_path "web_design.jpg" %>">
        <h2>WebSites</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div data-aos="zoom-in-down" data-aos-duration="3000">

        <div data-toggle="modal" data-target="#myModal"><a href="#myGallery"><img src="<%= image_path "chatbot.jpg" %>"><br>
        </a></div>

                        <!--begin modal window-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="pull-left">ChatBots Development</div>
                <button type="button" class="close" data-dismiss="modal" title="Close">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
              <div class="modal-body">

              <!--begin carousel-->
                <div id="myGallery" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <div class="item active"><img src="<%= image_path "agency.jpg" %>" alt="item0">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 0  description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="<%= image_path "img_parallax2_bis.jpg" %>" alt="item1">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 1 description.</p>
                      </div>
                    </div>
                    <div class="item"><img src="https://placeimg.com/600/400/nature/3" alt="item2">
                      <div class="carousel-caption">
                        <h3>Heading 3</h3>
                        <p>Slide 2  description.</p>
                      </div>
                    </div>

                  </div><!--end carousel-inner-->
                    <!--Begin Previous and Next buttons-->
                  <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#myGallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div><!--end carousel-->

              </div><!--end modal-body-->
              <div class="modal-footer">
                <div class="pull-left">
                  <!-- <small>Photographs by <a href="https://placeimg.com" target="new">placeimg.com</a></small> -->
                </div>
                <button class="btn-sm close" type="button" data-dismiss="modal"></button>
              </div><!--end modal-footer-->
            </div><!--end modal-content-->
          </div><!--end modal-dialoge-->
        </div><!--end myModal-->

        <h2>ChatBots</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia in illum tenetur cupiditate, quis beatae amet.</p>
        <br><br />
      </div>
    </div>

<div class="container about text-center features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="<%= image_path "recast.jpg" %>" alt="">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="<%= image_path "linkbynet.jpg" %>" alt="">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="<%= image_path "mystartup.png" %>" alt="">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="<%= image_path "FT_logo-04.jpg" %>" alt="">
    </div>
  </div>
</div>

<!-- Your map code -->
<div id="map" style="width: 100%;height: 500px;"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.897095,2.289216);
  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
  };
  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"You are here!"
  });
</script>

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

<script type="text/javascript" src="modal.js"></script>
<!-- <script type="text/javascript" src="modal2.js"></script> -->
<script type="text/javascript" src="carousel.js"></script>
